<p style="font-family: sans-serif; font-weight: bold;" >Learning @viewChild</p>

<p style="padding: 15px, 0;" > Value: {{displayValue}} </p>

<input style="display: block;" #myLocalRef type="text">
<p [setColor]="'blue'" appHostBindingBoldBlue style="width: fit-content;">Hover Over Me</p>
<button (click)="onClick()" >Send -></button>

<hr style="margin-top: 20px;">

<input [(ngModel)]="isChecked" style="display: block; margin-top: 20px;" type="checkbox" name="Structural Directive Show/Hide">

<div *appStructuralDirective="isChecked">
  <p>This div is controlled by a custom structural directive. The checkbox above controls it!</p>
</div>

<hr style="margin-top: 20px;">

<label for="textboxTwo">Textbox #2</label>
<input [(ngModel)]="textboxTwoValue"  style="margin-top: 20px; margin-left: 10px;" type="text" name="textboxTwo" id="">

<div *appShowIfString="textboxTwoValue">
  <p>This div is controlled by a structural directive. It is shown if a letter is entered above, but not if only numbers or spaces are entered.</p>
</div>

<hr style="margin-top: 20px;">

<label for="textbox3">Textbox #3</label>
<input [(ngModel)]="textboxThreeValue"  style="margin-top: 20px; margin-left: 10px;" type="text" name="textbox3">
<p>Below is an ngSwitch statement controlled by the values of the textbox above. Possible values are "cat", "dog", or "fish".</p>
<div [ngSwitch]="textboxThreeValue">
  <p *ngSwitchCase="'cat'"> Cats look like 🐈</p>
  <p *ngSwitchCase="'dog'"> Dogs look like 🐕</p>
  <p *ngSwitchCase="'fish'"> Fish look like 🐟</p>
  <p *ngSwitchCase="'cow'" >Cows look like 🥩</p>
  <p *ngSwitchDefault> ----- </p>
</div>

<hr style="margin-top: 20px;">

<div>
<label for="textbox3">Textbox #3</label>
<p>A dropdown list created with a custom directive. The directive accepts an array of items.</p>
<button appDropdown [dropdownOptions]='["cat","car", "book", "boat", "fish"]' style="height: 30px; width: 110px; line-height: 25px;">Show List ▼</button>
</div>
